<footer class="footer">
  <div class="content">
    <div class="created-by">
      <p>Created by Kristen Mazza</p>
      <a href="https://github.com/kristenmazza">
        <img class="icon" alt="Github icon" src="/images/github-icon.png" />
      </a>
    </div>
  </div>
</footer>
