<header class="header">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Incognito<span>Club</span></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/login">Log in</a></li>
    <li><a href="/signup">Sign up</a></li>
  </ul>
</header>
