body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(57, 63, 76);
}

.main-container {
  flex: 1 0 auto;
  background-color: rgb(243, 246, 255);
  min-height: 100%;
  display: flex;
  justify-content: center;

  .content {
    padding: 0 20px;
  }
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.btn {
  background-color: #1976cc;
}

.btn:hover {
  background-color: #338ce0;
}

/* Header */
nav {
  background-color: rgb(255, 255, 255);
  padding: 0 50px;
  border-bottom: 1px solid rgb(227, 230, 239);

  .brand-logo {
    color: rgb(57, 63, 76);
    font-weight: 800;

    :is(span) {
      color: #1976cc;
    }
  }

  & ul a,
  & a {
    color: rgb(57, 63, 76);
  }
}

.nav-account-info {
  padding: 15px;
  & p {
    color: rgb(57, 63, 76);
    margin: 0;
    line-height: 1.5;
  }

  .light {
    color: rgb(125, 134, 154);
    font-weight: 400;
    font-size: 0.9rem;
  }

  .username {
    font-size: 1rem;
  }

  .strong {
    font-weight: 800;
    font-size: 1.2rem;
  }
}

.nav-account-info.side {
  padding: 32px;
  background-color: #1976cc;

  & p {
    color: #fcfcfc;
  }

  .light {
    font-weight: 400;
    font-size: 0.9rem;
  }

  .username {
    font-size: 1rem;
  }

  .strong {
    font-weight: 800;
    font-size: 1.2rem;
  }
}

.dropdown-content {
  top: 60px !important;
  width: 230px !important;

  .center-align {
    line-height: 1;

    .btn-small {
      background-color: #1976cc;
    }
  }
}

.divider {
  margin: 15px 0 !important;
}

/* Footer */
.footer {
  border-top: 1px solid rgb(227, 230, 239);
  flex-shrink: 0;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}

.created-by {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: rgb(57, 63, 76);
  font-size: 15px;
  font-weight: 430;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 15px;
    }
  }
}

/* Forms */

/* label color */
.input-field label {
  color: rgb(93, 102, 121);
}

/* label focus color */
.input-field input[type='text']:focus + label,
.input-field input[type='password']:focus + label,
.input-field input[type='email']:focus + label,
.input-field textarea:focus + label {
  color: rgb(72, 155, 232) !important;
}

.input-field input[type='text']:focus,
.input-field input[type='password']:focus,
.input-field input[type='email']:focus,
.input-field textarea:focus {
  border-bottom: 1px solid rgb(57, 63, 76);
  box-shadow: 0 1px 0 0 rgb(57, 63, 76);
}

.input-field input[type='text']:not(.browser-default):focus:not([readonly]),
.input-field input[type='password']:not(.browser-default):focus:not([readonly]),
.input-field input[type='email']:not(.browser-default):focus:not([readonly]),
.input-field textarea:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid rgb(72, 155, 232);
  box-shadow: 0 1px 0 0 rgb(72, 155, 232);
}

/* valid color */
.input-field input[type='text'].valid,
.input-field input[type='password'].valid,
.input-field input[type='email'].valid,
.input-field textarea.valid {
  border-bottom: 1px solid rgb(72, 155, 232);
  box-shadow: 0 1px 0 0 rgb(72, 155, 232);
}

/* invalid color */
.input-field input[type='text'].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.errors {
  color: #f44336;
  padding: 0 0 2rem 0;

  & li {
    list-style-type: disc !important;
  }
}

/* Message display */
.material-icons {
  color: #787e81;
}

.material-icons.circle.initials {
  background-color: #e14a4a !important;
  font-family: Roboto;
  font-weight: 800;
}

.collection-item.avatar {
  color: rgb(57, 63, 76);

  .title {
    font-weight: 800;
    font-size: 1.4rem !important;
    margin: 0 0 0.3rem 0;
  }

  .date,
  .author {
    font-size: 0.9rem;
    color: rgb(111, 111, 111);
  }

  .author-name {
    font-size: 1rem;
    color: rgb(57, 63, 76);
  }

  .message {
    font-size: 1.1rem;
    margin: 0.3rem 0 0 0 !important;
  }
}

.text-center {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.note {
  line-height: 1;
  padding-bottom: 1rem;
  font-style: italic;
  color: rgb(111, 111, 111);
}

@media screen and (max-width: 992px) {
  nav {
    padding: 0 10px;
  }
}
