body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
  background-color: rgb(243, 246, 255);
  min-height: 100%;
  display: flex;

  .content {
    padding: 0 200px;
  }
}

/* Header */
.header {
  .content {
    flex-shrink: 0;
    margin-bottom: -2px;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 40px;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 0 200px;
    border-bottom: 1px solid rgb(227, 230, 239);
  }
}

.header-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(76, 155, 232);

  :is(span) {
    color: rgb(57, 63, 76);
  }
}

/* Header navigation */
.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  & li {
    list-style-type: none;
    font-size: 20px;

    & a {
      text-decoration: none;
      display: block;
    }
  }

  .login {
    background-color: rgb(51, 142, 239);
    border-radius: 10px;

    & a {
      color: rgb(253, 253, 253);
      padding: 5px 15px;
    }
  }

  .login:hover {
    background-color: rgb(45, 126, 213);
  }

  .signup {
    border-radius: 10px;

    & a {
      color: rgb(57, 63, 76);
      padding: 5px 15px;
    }

    & a:hover {
      color: rgb(44, 119, 199);
    }
  }

  .signup:hover {
    background-color: rgb(225, 231, 239);
  }
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(28, 28, 28);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: rgb(52, 52, 52);
}

/* Footer */
.footer {
  border-top: 1px solid rgb(227, 230, 239);
  flex-shrink: 0;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}

.created-by {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: rgb(57, 63, 76);
  font-size: 15px;
  font-weight: 430;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .content {
      padding: 0 20px;
    }
  }

  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    position: absolute;
    top: 48px;
    left: -20px;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    max-height: 0;
    transition: max-height 0.15s ease-out, visibility 0.15s;
    visibility: hidden;
    overflow: hidden;
    display: block;
  }

  .navigation-menu li a:hover::before {
    transform: scaleX(0);
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    width: 100%;
    padding: 1rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    border-top: 1px solid rgb(244, 244, 244);
    max-height: 500px;
    transition: max-height 0.15s ease-in;
    visibility: visible;
  }
}
